.wrapper-cat img{
display: block;
width: 80px!important;
/* height: 90px!important; */
margin: .5rem 0 .5rem;
}
.cat-desc{
    font-size: 13px;
    align-self: center;
}
.cat-desc p{
    margin: 0;
    padding: 0!important;

}
.cat-hover{
    cursor: pointer;
    transition: all .2s ease;
}
.cat-hover:hover{
    box-shadow: 0 0 4px 2px #a4a3a3;
    z-index: 1;
}
.w-100px{
    width: 100px!important;
}